/* .box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    animation: andando normal infinite 3s;
}

@keyframes andando{
    0%{
        left: 0;
    }
    25%{
        left: calc(100% - 100px);
        top: 0;
        background-color: red;
    }
    50%{
        top: calc(100% - 100px);
        left: calc(100% - 100px);
        background-color: aqua;
    }
    75%{
        left: 0;
        top: calc(100% - 100px);
        border-radius: 50%;
    }
    100%{
        left: 0;
        top: 0;
        background-color: greenyellow;
    }
} */
 body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .loading{
    display: flex;
    gap: 6px;
    .barrinha{
     width: 12px;
     height: 50px;
     background-color: black;
     animation: fadeOut 1s infinite linear alternate;
    }
  }
  @keyframes fadeOut {
      0%  {
        background-position: 0% 250%;
        transform: translateX(0px);
    }
      33% {
        background-position: 25% 45%;
        transform: translateX (30px);
    }
      66% {
        background-position: 45% 65%;
        transform: translateX(50px);
    }
      100%{
        background-position: 65% 100%;
        transform: translateX(20px);
    }
  }