/* .box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    animation: andando normal infinite 3s;
}

@keyframes andando{
    0%{
        left: 0;
    }
    25%{
        left: calc(100% - 100px);
        top: 0;
        background-color: red;
    }
    50%{
        top: calc(100% - 100px);
        left: calc(100% - 100px);
        background-color: aqua;
    }
    75%{
        left: 0;
        top: calc(100% - 100px);
        border-radius: 50%;
    }
    100%{
        left: 0;
        top: 0;
        background-color: greenyellow;
    }
} */
 body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .loading{
    display: flex;
    gap: 6px;
    & .barrinha{
     width: 12px;
     height: 50px;
     background-color: black;
     animation: fadeOut 1s infinite linear;
    }
  }
  @keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
  }
  @keyframes fadeOut{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @keyframes fadeOut{
      0%  {
        opacity: 0;
    }
      33% {
        opacity: 0,3;
    }
      66% {
        opacity: 0,6;
    }
      100%{
       opacity: 0,9;
    }
  }